@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700,900');

body {
    /* background-color: #fff7e6; */
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
    padding-bottom: 60px;
    margin: 0
}

@media screen and (min-width: 768px) {
    body {
        padding-top: 100px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #444;
}

h1 {
    font-size: 40px;
}

h3 {
    font-weight: 400;
}

h4 {
    font-weight: 400;
    font-size: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
}

a {
    color: #c6d550;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    /*color: #b7cb1b; */
    color: #f1f5d6;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.navbar-inverse .navbar-nav > li > a {
    color: #c6d550;
}

.alignleft {
    text-align: left;
}

.alignright {
    text-align: right;
}

.aligncenter {
    text-align: center;
}

.btn-theme {
    color: #fff;
    background-color: #fd680e;
    border-color: #fd680e;
}

.btn-theme:hover {
    color: #fff;
    background-color: #444;
    border-color: #444;
}

form.signup {
    margin-top: 30px;
}

form.signup button.btn {
    text-transform: uppercase;
    font-weight: 700;
}

form.signup input.form-control:focus {
    border-color: #fd680e;
}

/* Nav */

a.navbar-brand {
    color: #fff !important;
    font-weight: 900;
    text-transform: uppercase;
}

a.navbar-brand:hover {
    color: #ddd !important;
}

a.navbar-login {
    color: #fff !important;
    font-weight: 600;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
}

.main-nav li:nth-child(1) a {
    background: #d83d3d;
    /*border: 2px solid #fff;*/
}

.main-nav li:nth-child(1) a:hover {
    background: #fff;
    color: #d83d3d;
}

.main-nav li:nth-child(2) a {
    background: #9e2c2c;
    /*border: 2px solid #9e2c2c;*/
}

.main-nav li:nth-child(2) a:hover {
    background: #b13131;
    /*border: 2px solid #b13131;*/
}

.user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(127, 37, 37, 0.9);
    /* rgba(198, 213, 90, 0.9);*/
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
    -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
    transition: opacity 0.3s 0, visibility 0 0.3s;
}

.user-modal.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
}

.user-modal.is-visible .user-modal-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    overflow-y: hidden;
}

.user-modal-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.user-modal-container .switcher:after {
    content: "";
    display: table;
    clear: both;
}

.user-modal-container .switcher li {
    width: 50%;
    float: left;
    text-align: center;
    list-style: none;
}

.user-modal-container .switcher li:first-child a {
    border-radius: .25em 0 0 0;
}

.user-modal-container .switcher li:last-child a {
    border-radius: 0 .25em 0 0;
}

.user-modal-container .switcher a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #d2d8d8;
    color: #809191;
    text-decoration: none;
}

.user-modal-container .switcher a.selected {
    background: #FFF;
    color: #505260;
}

@media only screen and (min-width: 600px) {
    .user-modal-container {
        margin: 4em auto;
    }

    .user-modal-container .switcher a {
        height: 70px;
        line-height: 70px;
    }
}

.form {
    padding: 1.4em;
}

.form .fieldset {
    position: relative;
    margin: 1.4em 0;
}

.form .fieldset:first-child {
    margin-top: 0;
}

.form .fieldset:last-child {
    margin-bottom: 0;
}

.form label {
    font-size: 14px;
    font-size: 0.875rem;
}

.form label.image-replace {
    /* replace text with an icon */
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.form label.username {
    background-image: url("https://codyhouse.co/demo/login-signup-modal-window/img/cd-icon-username.svg");
}

.form label.email {
    background-image: url("https://codyhouse.co/demo/login-signup-modal-window/img/cd-icon-email.svg");
}

.form label.password {
    background-image: url("https://codyhouse.co/demo/login-signup-modal-window/img/cd-icon-password.svg");
}

.form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}

.form input.full-width {
    width: 100%;
}

.form input.has-padding {
    padding: 12px 20px 12px 50px;
}

.form input.has-border {
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.form input.has-border:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
    outline: none;
}

.form input.has-error {
    border: 1px solid #d76666;
}

.form input[type=password] {
    /* space left for the HIDE button */
    padding-right: 65px;
}

.form input[type=submit] {
    padding: 16px 0;
    cursor: pointer;
    background: #F64747;
    color: #FFF;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.form input[type=submit]:hover {
    background: #d83d3d;
}

.no-touch .form input[type=submit]:hover, .no-touch .form input[type=submit]:focus {
    background: #d83d3d;
    outline: none;
}

.form .hide-password {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    font-size: 0.875rem;
    color: #343642;
}

.form .error-message {
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(215, 102, 102, 0.9);
    padding: .8em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    /* prevent click and touch events */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
    -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
    transition: opacity 0.2s 0, visibility 0 0.2s;
}

.form .error-message::after {
    /* triangle */
    content: '';
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}

.form .error-message.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.2s 0, visibility 0 0;
    -moz-transition: opacity 0.2s 0, visibility 0 0;
    transition: opacity 0.2s 0, visibility 0 0;
}

@media only screen and (min-width: 600px) {
    .form {
        padding: 2em;
    }

    .form .fieldset {
        margin: 2em 0;
    }

    .form .fieldset:first-child {
        margin-top: 0;
    }

    .form .fieldset:last-child {
        margin-bottom: 0;
    }

    .form input.has-padding {
        padding: 16px 20px 16px 50px;
    }

    .form input[type=submit] {
        padding: 16px 0;
    }
}

.form-message {
    padding: 1.4em 1.4em 0;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .form-message {
        padding: 2em 2em 0;
    }
}

.form-bottom-message {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -40px;
    text-align: center;
    font-size: 14px;
    font-size: 0.875rem;
}

.form-bottom-message a {
    color: #FFF;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, .0);
    padding: 0 0 0 2px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.form-bottom-message a:hover {
    animation: borderslide-3px .5s;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    padding-bottom: 3px;
}

@keyframes borderslide-3px {
    0% {
        padding-bottom: 1px;
    }
    50% {
        padding-bottom: 3px;
    }
}

@keyframes borderslide-2px {
    0% {
        padding-bottom: 1px;
    }
    50% {
        padding-bottom: 2px;
    }
}

.close-form {
    /* form X button on top right */
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (min-width: 1170px) {
    .close-form {
        display: none;
    }
}

.accept-terms {
    color: #F64747;
    text-decoration: none;
    padding: 0 1px 1px 2px;
    border-bottom: 1px solid rgba(246, 71, 71, .0);
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.accept-terms:hover {
    animation: borderslide-2px .5s;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(246, 71, 71, 1);
}

#login, #signup, #reset-password {
    display: none;
}

#login.is-selected, #signup.is-selected, #reset-password.is-selected {
    display: block;
}

/* Header */

#header-main {
    background-color: #444;
    background: url(../img/maine_coon_kitten1.jpg) no-repeat center top;

    margin-top: -88px;
    padding-top: 145px;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header h1 {
    margin-top: 60px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: -1px;
}

h2.subtitle {

    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 25px;

}

/* ==== widget ==== */
.widget ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

/* footer */
#footer {
    position: absolute;
    bottom: 0; /* you already have this */
    background-color: #c6d550;
    padding-right: 179px;
    right: 0;
    padding-left: 5%;
    margin: 0;

}

section.featured {
    padding: 200px 0 600px;
    background-color: #70B9B0;
    color: #fdfdfd;
}

section.featured h2.slogan {
    color: #fff;
    font-size: 48px;
    font-weight: 900;
}

section.featured h4.slogan {
    color: #fff;
    font-size: 30px;
    font-weight: 900;
}

/* inner heading */
section.featured.inner {
    background: #eee;
    padding: 150px 0 50px;
}

.pad-bot30 {
    padding-bottom: 30px;
}

.team-member, .col-lg-4 {
    margin-bottom: 30px;
}

/* --- align --- */
.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.row {
    z-index: 9999;
    margin-bottom: 20px;
}

.fa-paw {
    color: orange;
    font-size: 1em;
    margin-right: 10px;
}

.about_area {
}

.about_area .results_section {
    margin-bottom: 35px;
    margin-top: 0;
}

.about_area .results_section .right_results {
}

.about_area .results_section .right_results h2 {
    color: #fd680e;
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-align: left;
    margin-left: 0px;
}

.about_area .results_section .right_results b {
    color: #fd680e;
    text-align: center;
    padding: 95px;
}

.about_area .results_section .right_results p {
    color: #26354A;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 0;
}

.about_area .results_section .right_results ul {
    list-style: none outside none;
    margin: 3px 0;
    padding: 0;
    margin-left: 0;
}

.about_area .results_section .right_results li {
    color: #26354A;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    overflow: hidden;
}

.about_area .results_section .right_results li span {
    background: none repeat scroll 0 0 rgba(46, 53, 67, 0.5);
    border-radius: 50%;
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-family: entypo;
    font-size: 25px;
    height: 12px;
    line-height: 0;
    margin: 7px 13px 0 0;
    text-align: center;
    width: 12px;
}

.about_area .results_section .right_results a {
    background: none repeat scroll 0 0 #c6d550;
    border-radius: 3px;
    box-shadow: none;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
    margin: 29px auto 0;
    padding: 17px 19px;
    text-align: center;
    text-decoration: none;

    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
    border: 1px solid #c6d550;
}

.about_area .results_section .right_results a:hover {
    color: #c6d550 !important;
    background: #FFFFFF;
}

.section_title {
    padding-top: 41px;
    padding-bottom: 20px;
}

.section_title h2 {
    color: #fd680e;
    font-weight: bold;
}

.btn-theme1 {
    color: #fff;
    background-color: #fd680e;
    margin-left: 5px;
    border-color: #fd680e;
    margin-top: 10px;
}

.btn-theme1:hover {
    color: #fff;
    background-color: #444;
    border-color: #444;
}

#user-welcome {
    background-color: #444;
    background: url(/assets/img/welcome.jpg) no-repeat center top;
    margin-top: -47px;
    padding-top: 150px;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    height: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#not-found {
    background-color: #444;
    background: url(/assets/img/404.jpg) no-repeat center top;

    margin-top: -49px;
    padding-top: 150px;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#title {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: -40px;
    position: relative;
    color: #fff;
}

.inset {
    width: 51px;
    height: 48px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.6),
    0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: transparent !important;
    z-index: 999;
}

.inset img {
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: block;
    position: relative;
    z-index: 999;
    margin-left: -6px;
}

.dropdown-menu {
    background-color: #444;
    padding: 27px; /*33*/
    margin: 43px;
    top: 16px; /*9*/
    margin-right: -66px;
    min-width: 148px;
}

button.inset {
    border: none;
}

button.inset:focus {
    outline: 0;
}

a.dropdown-item {
    word-wrap: normal !important;
}

.dropdown-divider {
    color: #c6d550 !important;
}

a.navbar-login {
    text-align: center;
    right: -327px;
}

.btn {
    padding: 5px 20px;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad {
    margin-top: 0px;
}

.panel-info {
    border-color: #c6d550;
}

.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align: center;
}

.panel-login > .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login > .panel-heading a.active {
    color: #029f5b;
    font-size: 18px;
}

.panel-login > .panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

h5 > p {
    color: #c6d550 !important;
}

.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    position: relative;
    width: 100%;
}

.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}

.status-upload form {
    float: left;
    width: 100%;
}

.status-upload form textarea {
    background: none repeat scroll 0 0 #fff;
    border: medium none;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #777777;
    float: left;
    font-family: Lato;
    font-size: 14px;
    height: 142px;
    letter-spacing: 0.3px;
    padding: 20px;
    width: 100%;
    resize: vertical;
    outline: none;
    border: 1px solid #F2F2F2;
}

.status-upload ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 0 15px;
    width: auto;
}

.status-upload ul > li {
    float: left;
}

.status-upload ul > li > a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #777777;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 30px;
    cursor: pointer;
}

.status-upload ul > li > a:hover {
    background: none repeat scroll 0 0 #606060;
    color: #fff;
}

.status-upload form button {
    border: medium none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-right: 9px;
    margin-top: 9px;
    padding: 6px 15px;
}

.dropdown > a > span.green:before {
    border-left-color: #2dcb73;
}

.status-upload form button > i {
    margin-right: 7px;
}

.table.user-list {
    table-layout: fixed;
    width: 100%;
}

@media (min-width: 992px) {
    .col-md-10 {
        width: 100.333333%;
    }
}

.check {
    opacity: 0.5;
    color: #996;
}

.img-wrapper {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    width: 100%;
}

.img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-wrapper label {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.colour {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a.table-link.danger {
    color: #E34234;
}

a.table-link.dangergone {
    color: #3CB371;
}

a.table-link.power {
    color: #EADC43;
}

a.table-link.nopower {
    color: grey;
}

.errspan {
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
    color: red;
}

.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px;
    }
}

.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px;
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%;
}

.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
}

.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
}

.tab-content {
    overflow: hidden;
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

@media screen and (min-width: 997px) {

    .details {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .colors {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }

    .product-title, .price, .sizes, .colors {
        text-transform: UPPERCASE;
        font-weight: bold;
    }

    .checked, .price span {
        color: #ff9f1a;
    }

    .product-title, .rating, .product-description, .price, .vote, .sizes {
        margin-bottom: 15px;
    }

    .product-title {
        margin-top: 40px;
    }

    .size {
        margin-right: 10px;
    }

    .size:first-of-type {
        margin-left: 40px;
    }

    .color {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        height: 2em;
        width: 2em;
        border-radius: 2px;
    }

    .color:first-of-type {
        margin-left: 20px;
    }

    .add-to-cart, .like {
        background: #ff9f1a;
        padding: 1.2em 1.5em;
        border: none;
        text-transform: UPPERCASE;
        font-weight: bold;
        color: #ff9f1a;
        -webkit-transition: background .3s ease;
        transition: background .3s ease;
    }

    .add-to-cart:hover, .like:hover {
        background: #b36800;
        color: #fff;
    }

    .not-available {
        text-align: center;
        line-height: 2em;
    }

    .not-available:before {
        font-family: fontawesome;
        content: "\f00d";
        color: #fff;
    }

    .orange {
        background: #ff9f1a;
    }

    .green {
        background: #85ad00;
    }

    .blue {
        background: #0076ad;
    }

    .tooltip-inner {
        padding: 1.3em;
    }

    @-webkit-keyframes opacity {
        0% {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes opacity {
        0% {
            opacity: 0;
            -webkit-transform: scale(3);
            transform: scale(3);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

}

.thumbnail {
    opacity: 0.70;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.thumbnail:hover {
    opacity: 1.00;
    box-shadow: 0px 0px 10px #4bc6ff;
}

.line {
    margin-bottom: 5px;
}

@media screen and (max-width: 770px) {
    .right {
        float: left;
        width: 100%;
    }
}

span.thumbnail {
    border: 1px solid #00c4ff !important;
    border-radius: 0px !important;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.16);
    padding: 10px;
}

.container h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    margin-top: 6px;
}

.right {
    float: right;
    border-bottom: 2px solid #0a5971;
}

.btn-info {
    color: #fff;
    background-color: #19b4e2;
    border-color: #19b4e2;
    font-size: 13px;
    font-weight: 600;
}

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

html {
    height: 100%;
}

pre {
    font-size: 16px;
}

input:valid {
    background-color: #dfff87;
}

input:optional {
    border-style: outset;
}

input:disabled {
    border: 1px dotted gray;
}

input:required {
    border: 2px solid;
}

input:invalid {
    background-color: #fce479;
}

.status {

    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-top: 0;
}

.book {
    color: yellow;
}

.sold {
    color: red;
}

.avail {
    color: greenyellow;
}

.mark {
    color: #E34234;
    margin-top: 20px;
}

.fa.fa-venus {
    font-size: 24px;
    color: lightpink;
}

.fa.fa-mars {
    font-size: 24px;
    color: cornflowerblue;
}

#left-nav-dropdown {
    margin-top: 2px;
    padding-top: 10px;
    margin-right: 14px;
    position: relative;
}

.left-nav-style {
    margin-top: 40px;
}

/* */

.cat_reserve_box {
    margin-top: 30px;

    margin-bottom: 60px;
    padding: 40px 50px;
    background-color: #c6badc;
    box-shadow: 3px 5px 10px #7527b0;
}

.result_box {
    margin-top: 15%;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 60px;
    padding: 20px 40px;
    background-color: #d4c0b9;
    box-shadow: 3px 5px 10px #8BC34A;
}

.result_box_text {
    color: #232222;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}

.result_box_text span {
    color: #614136;
    font-size: 26px;
    text-align: center;
}

/* */
.table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
        width: 20%;
        display: inline !important;
    }

    .actions .btn {
        width: 36%;
        margin: 1.5em 0;
    }

    .actions .btn-info {
        float: left;
    }

    .actions .btn-danger {
        float: right;
    }

    table#cart thead {
        display: none;
    }

    table#cart tbody td {
        display: block;
        padding: .6rem;
        min-width: 320px;
    }

    table#cart tbody tr td:first-child {
        background: #333;
        color: #fff;
    }

    table#cart tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 8rem;
    }

    table#cart tfoot td {
        display: block;
    }

    table#cart tfoot td .btn {
        display: block;
    }

}

.carousel-item {
    min-height: 300px;
    background: #ccc;
}

.shadow {
    background: rgba(214, 127, 34, 0.5); /* Цвет фона */
    box-shadow: 0 0 10px rgba(88, 53, 8, 0.5); /* Параметры тени */

    color: white; font-weight: bold
}

.rating {
    float: left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
  follow these rules. Every browser that supports :checked also supports :not(), so
  it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 300%;
    line-height: 1.2;
    color: #ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: gold;

}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;

}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: gold;

}

.rating > label:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.stars {
    color: gold;
}

.product-photo {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}

.product-photo img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    transition: transform .4s ease-out;
}

.product:hover .product-photo img {
    transform: scale(1.05);
}


.our-team-main {
    width: 100%;
    height: auto;
    border-bottom: 5px #323233 solid;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    margin-bottom: 28px;
}

.our-team-main img {
    border-radius: 50%;
    /*margin-bottom:18px;*/
    margin-bottom: 0;
}

.our-team-main h3 {
    font-size: 20px;
    font-weight: 700;
}

.our-team-main p {
    margin-bottom: 0;
}

.team-back {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px 0 15px;
    text-align: left;
    background: #fff;

}

.team-front {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 10;
    background: #fff;
    padding: 15px;
    bottom: 0px;
    transition: all 0.5s ease;
}

.our-team-main:hover .team-front {
    bottom: -200px;
    transition: all 0.5s ease;
}

.our-team-main:hover {
    border-color: #777;
    transition: 0.5s;
}

.layer {
    overflow: auto;
    width: 361px;
    height: 198px;
    padding: 5px;
    border: solid 4px #ffebcc;
}

.speech-bubble {
    background: #fef1e2;
    border-radius: .4em;
}

p.descr {
    text-shadow: 1px 1px 0 orange,
    1px -1px 0 orange,
    -1px 1px 0 orange,
    -1px -1px 0 orange;
    color: white;
    transition: all 1s;
}

p.decl {
    text-shadow: 1px 1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    -1px -1px 0 red;
    color: white;
    transition: all 1s;
}

hr {
    border: none;
    background-color: #ffebcc;
    color: #ffebcc;
    height: 2px;
}

h2.stat-sent {
    display: inline-block;
    position: relative;
    letter-spacing: .05em;
    text-shadow: 1px 1px mediumturquoise,
    -1px 1px mediumturquoise,
    -1px -1px mediumturquoise,
    1px -1px mediumturquoise;
    color: white;
    transition: all 1s;
}

h2.stat-reject {
    display: inline-block;
    position: relative;
    letter-spacing: .05em;
    text-shadow: 1px 1px red,
    -1px 1px red,
    -1px -1px red,
    1px -1px red;
    color: white;
    transition: all 1s;
}

h2.stat-disc {
    display: inline-block;
    position: relative;
    letter-spacing: .05em;
    text-shadow: 1px 1px yellow,
    -1px 1px yellow,
    -1px -1px yellow,
    1px -1px yellow;
    color: white;
    transition: all 1s;
}

h2.stat-approve {
    display: inline-block;
    position: relative;
    letter-spacing: .05em;
    text-shadow: 1px 1px green,
    -1px 1px green,
    -1px -1px green,
    1px -1px green;
    color: white;
    transition: all 1s;
}

h2.stat-await {
    display: inline-block;
    position: relative;
    letter-spacing: .05em;
    text-shadow: 1px 1px violet,
    -1px 1px violet,
    -1px -1px violet,
    1px -1px violet;
    color: white;
    transition: all 1s;
}

.img-container {
    width: 411px;
    height: 521px;
    position: relative;
    overflow: hidden;
}

img.img-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
}

.bubble {
    position: relative;
    background: #fef1e2;
    border-radius: 5.4em;
    padding-left: 49px;
    padding-bottom: 37px;
}

.bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 70px solid transparent;
    border-right-color: #fef1e2;
    border-left: 0;
    border-bottom: 0;
    margin-top: -45.5px;
    margin-left: -69px;
}

.paginatorList {
    margin: 7px 6px;
    list-style: none outside none;
    /*padding-bottom: 20px;*/
    display: inline-block;
    /* border-radius: 4px; */
    /*background-color: #fff;*/
    /*border: 1px solid #ddd;*/
    /*padding: 6px 12px;*/

}

.paginatorList > li > a:hover {
   color: #c6d550;
}


a.paginatorLast {
    font-weight: bold;
    font-size: 1.5em;
    color: darkslategray;
}

.paginatorList li {
    color: black;
    float: left;
    /*padding: 8px 16px; 5 11, 2 8*/
    padding: 2px 8px;
    font-size: 1.5em;
    margin: 0 4px;
    border: 1px solid #ddd;
}

.paginatorList li.active {
    background-color: #c6d550;
    color: white;
}

.paginatorList li:hover:not(.active) {
    background-color: #f1f5d6;
}

li.paginatorCurr {
    font-weight: bold;
    font-size: 1.5em;
    /*margin-top: -2px;*/
    color: darkslategray;
}

li.paginatorLast {
    /*float: none;*/
}

#searcher {
    background-color: #444;
    background: url(/assets/img/search.jpg) no-repeat center top;

    margin-top: -122px;
    padding-top: 101px;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p.foot {
    margin-bottom: 6px;
    font-size: 18px;
    margin-top: 20px;
}


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}

#status {
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    /* is width and height divided by two */
}

.spinner-sm {
    width: 50px;
    height: 50px;
    background-image: url(http://www.lumavi.de/templates/automobile_darmas/images/icon_darmas_white.png);
    background-size: 40%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffebcc;
    border-radius: 50%;
}
.spinner-sm:after,
.spinner-sm:before {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.spinner-sm-1:after {
    position: absolute;
    top: -4px;
    left: -4px;
    border: 4px solid transparent;
    border-top-color: #ff9f5a;
    border-bottom-color: #ff9f1a;
    animation: spinny 0.8s linear infinite;
}
@keyframes spinny {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(90deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}
@keyframes spinny {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(90deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}